<!DOCTYPE html>
<html>
<head>
<doctype html>
<html>
    <script type="text/javascript">
        var timerStart = Date.now();
    </script>
	<title>Testing my scalability</title>
	<style type="text/css">

	</style>
	<script type="text/javascript" src="/javascript/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/compileCss/style.min.css">
	<style type="text/css">
	img {
		width:200px;
		height:200px;
	}
	canvas {
		width:200px;
		height:200px;
	}
	#thousandOrdered {
		height: 400px;
		width:400px;
		overflow-y: scroll;
	}
	#thousandOrdered th, td{
		text-align: left;
	}
	</style>
</head>
<body>
<div id="thousandOrdered">
<table>
	<thead>
		<th>Business Name</th>
		<th>Owner First Name</th>
		<th>Owner Last Name</th>
	</thead>
	<tbody>
		<% for (var i = 0; i < select.length; i++) { %>
			<tr>
				<td><%= select[i].business_name %></td>
				<td><%= select[i].owner_first_name %></td>
				<td><%= select[i].owner_last_name %></td>
			</tr>
		<%}%>
	</tbody>
</table>
</div>
<form action='/businesses' method="POST">
	<select name="insertNumber">
		<option value="5000">5000</option>
		<option value="10000">10000</option>
		<option value="15000">15000</option>
		<option value="20000">20000</option>
	</select>
	<button type="submit">Insert</button>
</form>
<div class="imagesOne">
	<img src="./images/1.png">
	<img src="./images/2.png">
	<img src="./images/3.png">
	<img src="./images/4.png">
</div>
<div class="imagesOne">
	<img src="./images/5.png">
	<img src="./images/6.png">
	<img src="./images/7.png">
	<img src="./images/8.png">
</div>
<div>
	<video width="320" height="240" controls>
  <source src="./video/video1.mp4" type="video/mp4">
</video>
</div>
  <script type="text/javascript">
   	$(document).ready(function() {
      console.log("Time until DOMready: ", Date.now()-timerStart);
  	});
   	$(window).load(function() {
      console.log("Time until everything loaded: ", Date.now()-timerStart);
  	});
  </script>
</body>
</html>
